body {
    background-color: green;
    margin: 0
}

#game-board {
    position: relative;
    width: 544px;
    height: 416px;
    margin: 0 auto;
}

.obstacle {
    position: absolute;
    width: 32px;
}

.chest {
    position: absolute;
    width: 32px;
}

#cenario {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 544px;
}

#bomberman {
    position: absolute;
    bottom: 96px;
    left: 256px;
    width: 32px;
    z-index: 2;
}

#door-obstacle {
    height: 32px;
    width: 32px;
    left: 384px;
    top: 96px;
    position: absolute;
    opacity: 0;
}

.door {
    position: absolute;
    width: 32px;
}

#door-01-01 {
    top: 64px;
    left: 368px;
}

#door-01-02 {
    top: 64px;
    left: 398px;
}

#door-02-01 {
    top: 96px;
    left: 368px;
}

#door-02-02 {
    top: 96px;
    left: 398px;
}

.wall-door {
    position: absolute;
    width: 32px;
    z-index: -1;
}

#left-wall-door-01 {
    top: 0;
    left: 352px;
}

#left-wall-door-02 {
    top: 32px;
    left: 352px;
}

#left-wall-door-03 {
    top: 64px;
    left: 352px;
}

#left-wall-door-04 {
    top: 96px;
    left: 352px;
}

#right-wall-door-01 {
    top: 0;
    left: 416px;
}

#right-wall-door-02 {
    top: 32px;
    left: 416px;
}

#right-wall-door-03 {
    top: 64px;
    left: 416px;
}

#right-wall-door-04 {
    top: 96px;
    left: 416px;
}

#button {
    position: absolute;
    width: 32px;
    top: 64px;
    left: 448px;
}

.magnet {
    position: absolute;
    width: 32px;
    top: 320px;
    transition: all 0.7s;
}

#magnet-01 {
    left: 128px;
}

#magnet-02 {
    left: 384px;
}

.enemy_01 {
    position: absolute;
    width: 30px;
    height: 45px;
    z-index: 1;
}

#enemy_01_01 {
    top: 142px;
    left: 65.2px;
}

#enemy_01_02 {
    top: 270px;
    left: 162px;
}

#enemy_01_03 {
    top: 270px;
    left: 352px;
}

.bomb {
    position: absolute;
    width: 32px;
    z-index: 0;
}