body {
    background-color: green;
}

#game-board {
    position: relative;
    width: 544px;
    height: 416px;
    margin: 0 auto;
}

.obstacle {
    position: absolute;
    width: 32px;
}

.chest {
    position: absolute;
    width: 32px;
}

#cenario {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 544px;
}

#bomberman {
    position: absolute;
    top: 266px;
    left: 256px;
    width: 30px;
    z-index: 1;
}

.door {
    position: absolute;
    width: 32px;
}

#door_01_01 {
    top: 58px;
    left: 369px;
}

#door_01_02 {
    top: 58px;
    left: 399px;
}

#door_02_01 {
    top: 95px;
    left: 369px;
}

#door_02_02 {
    top: 95px;
    left: 399px;
}